* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', 'Verdana', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #2C2E7B;
}
